.contact_page{
    background: url("../../../assets/contact_bg.png") no-repeat;
    /* height: 100vh; */
    background-size: cover;
}

.msg_box{
    background-color: white;
}

h1{
    text-align: center;
    font-family: 'Jost';
    font-style: normal;
    font-size: 40px;
    padding: 2%;
    color: #000000;
}

h3{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    
    color: #000000;
}

.content{
    display: flex;
    justify-content: flex-end;
}

label{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 38px;
    /* identical to box height */
    
    
    color: #000000;
}

button{
    background: #4669CA;
    border-radius: 5px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */
    
    text-align: center;
    color: #FFFFFF;
}

.submit_btn{
    display: flex;
    justify-content: center;
    margin: 2%;
}

.contact_info{
    padding: 2%;
    margin: 10%;
    background: #4961A5;
    margin-right: 5%;
    color: #FFFFFF;
}

.contact_info_map{
    padding: 2%;
    /* margin-right: 5%; */
    margin: auto;
    color: #FFFFFF;
    align-items: center;
    display: flex;
    justify-content: center;
}

.info{
    display: flex;
    margin: 10px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    /* identical to box height */
    
    
    color: #FFFFFF;
}
.info p{
    padding-left: 5%;
}

@media (max-width: 600px) {
    .msg_box{
        margin: 5%;
        flex-shrink: inherit;
    }
    .contact_page{
        height: 100;
    }
}