<div class="screen_6">
    <div class="row">
        <div class="col-md-4 footer">
            <img src="../../../assets/logo2.png">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Feedback</label>
                    <textarea class="form-control" id="exampleInputPassword1" placeholder="Feedback" ></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-md-4 footer">
            <h3 class="product_header">Contact Us</h3>
            <p> (+91) 1234567890 </p>
            <p> Flat number 791 </p>
            <p> udyog vihar 5, Gurgaon, Haryana </p>
            <p> India - 122016 </p>
            <a href="https://m.facebook.com/100090610305061/" style="padding: 30px">
                <i class="fab fa-facebook-f fa-2x" style="color: #3b5998;"></i>
            </a>
            <a href="https://instagram.com/credmantracm?igshid=YmMyMTA2M2Y=">
                <i class="fab fa-instagram fa-2x" style="color: #ac2bac;"></i>
            </a>
        </div>
        <div class="col-md-4 footer_img">
            <img src="../../../assets/footer.png" >
        </div>
    </div>
</div>