<div class="screen_6">
    <div class="row">
        <div class="col-md-4 footer">
            <img src="../../../assets/logo2.png">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Feedback</label>
                    <textarea class="form-control" id="exampleInputPassword1" placeholder="Feedback" ></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-md-4 footer">
            <h3 class="product_header">Contact Us</h3>
            <p> (+91) 9873553646 </p>
            <p> xyz,lorem epsum diodre </p>
            <p> lorem epsum diodre </p>
            <p> India - 347634 </p>
        </div>
        <div class="col-md-4 footer_img">
            <img src="../../../assets/footer.png" >
        </div>
    </div>
</div>