<div class="screen_6">
    <div class="row" style="margin-top: 5%;">
        <div class="col-md-3 footer_">
            <img src="../../../assets/logo.png" style="
    width: 200px; height: 100px; margin-top: 5%;margin-left: 5%;
">
        </div>
        <div class="col-md-3 footer_">
            <h1 style="color: #C9C2C2; font-family: 'Barlow';">Products</h1>
            <p style="font-family: 'Barlow'; font-size: medium;">Personal loan</p>
            <p style="font-family: 'Barlow'; font-size: medium;">Credit Card</p>
            <p style="font-family: 'Barlow'; font-size: medium;">Credit Score</p>
            <p style="font-family: 'Barlow'; font-size: medium;">Paylater</p>
            <p style="font-family: 'Barlow'; font-size: medium;">Vehical loan</p>
            <p style="font-family: 'Barlow'; font-size: medium;">Short-term loan</p>
            <p style="font-family: 'Barlow'; font-size: medium;">Balance transfer</p>
            <p style="font-family: 'Barlow'; font-size: medium;">IFSC and micr directory</p>
        </div>
        <div class="col-md-3 footer_">
            <h1 style="color: #C9C2C2; font-family: 'Barlow';">Company</h1>
            <p style="font-family: 'Barlow'; font-size: medium;">About CredMantra</p>
            <p style="font-family: 'Barlow'; font-size: medium;">Our team</p>
            <p style="font-family: 'Barlow'; font-size: medium;">Career</p>
            <p style="font-family: 'Barlow'; font-size: medium;">Contact Us</p>
            <p style="font-family: 'Barlow'; font-size: medium;">Blogs</p>
        </div>
        <div class="col-md-3 footer_">
            <h1 style="color: #C9C2C2; font-family: 'Barlow';">More</h1>
            <p style="font-family: 'Barlow'; font-size: medium;">Help desk</p>
            <p style="font-family: 'Barlow'; font-size: medium;">Privacy policy</p>
            <p style="font-family: 'Barlow'; font-size: medium;">Terms and condition</p>
        </div>
    </div>
</div>