.screen_1{
  background: black;
  height: 100;
  width: 100;
  padding: 5%;
}

img{
  width: 80%;
  height: 70vh
}

.header{
  margin-top: 10%;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  /* or 104% */


  color: #FFFFFF;
}

h2{
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  /* or 126% */
  color: #FFFFFF;
}

span{
  color: #FFCE45;
}

.text{
  padding-top: 5%;
  padding-left: 10%;
}

p{
  color: #FFFFFF;
}

.start{
  display: inline-block;
  box-sizing: border-box;

  /* position: absolute; */
  /* width: 231px;
  height: 76px;
  left: 142px;
  top: 628px; */
  
  border: 1px solid #FFA1A1;

  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;

  color: #FFA1A1;

  padding: 4% 10%;
  margin-right: 5%;
  margin-bottom: 5%;
  /* margin-top: 5%; */
}

.explore{
  display: inline-block;
  
  box-sizing: border-box;

  /* position: absolute; */
  /* width: 231px;
  height: 76px;
  left: 142px;
  top: 628px; */
  
  border: 1px solid #FFCE45;

  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;

  color: #FFCE45;

  padding: 4% 10%;
}

.header_7{
  margin-top: 5%;
  /* margin-left: 5%; */
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 43px;
}

.screen_7{
  margin-left: 5%;
  margin-right: 5%;
}

.products{
  display: flex;
  justify-content: center;
}

.product_items{
  box-sizing: border-box;
  align-items: center;

  margin: 2%;

  width: 400px;
  height: 200px;

  border: 2px solid #2264E2;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
}

.product_item_header{
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  padding: 5%;
}

.product_p{
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  
  color: #727272;
}

.screen_2{
  background: #FFFFFF;
  height: 100;
  width: 100%;
}

.screen2_header{
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 67px;
  text-align: center;
  line-height: 80px;
}

.screen2_header2{
  text-align: center;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 63px;
  /* identical to box height */


  color: #2264E2;
}

.frame_up{
  display: flex;
  justify-content: end;
  padding: 3%;
}

.frame_down{
  display: flex;
  justify-content: start;
  padding: 5%;
  padding-top: 0%;
}

.frame_down img{
  height: 100px;
  width: 100px;
}

.frame_up img{
  height: 100px;
  width: 100px;
}

.card-img-top{
  padding: 10%;
  width: 80%;
  height: -webkit-fill-available;
  display: flex;
  align-self: center;
}

.cards{
  padding: 2%;
  display: flex;
  justify-content: center;
}

.card{
  border: 2px solid #6941BC;
  box-shadow: 5px 6px 4px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
}

.black{
  font-size: 35px;
  line-height: 40px;
  color: #000000;
}

.pink{
  font-size: 50px;
  line-height: 55px;
  /* or 111% */


  color: #EB73DE;
}

.content{
  text-align: center;
  font-family: 'Jost';
  font-style: normal;
}

.card-title{
  font-family: 'Jost';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
}

.screen_4_header{
  padding: 5%;
  /* margin-top: 5%; */
  text-align: center;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 45px;
  /* identical to box height, or 49% */
  
  color: #3E669C;
  
}

.dblue{
  background: #223A7B;
  padding: 2%;
  font-family: 'Jost';
  font-style: normal;
  font-size: 20px;
}
.blue{
  background: #1A84FD;
  padding: 2%;
  font-family: 'Jost';
  font-style: normal;
  font-size: 20px;
}

.service_text{
  padding: 10%;
}

.screen_5{
  background: #A29CD2;
  height: 100;
  width: 100%;
  display: grid;
}

.screen_5_header{
  text-align: center;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 83px;
  /* identical to box height, or 115% */
  
  
  color: #FFFFFF;
}

.partner{
  width: 300px;
  height: 150px;
  background: #FFFFFF;
  border-radius: 20px;
  margin: 2%;
}

.partner img{
  width: 260px;
  height: 150px;
  padding: 10px;
}

.partners{
  display: flex;
  justify-content: space-evenly ;
  margin: 2% 0%;
}


@media (max-width: 768px) {
  .row{
    text-align: center;
  }

  .header{
    margin-top: 0;
    font-size: 40px;
    line-height: 50px;
  }

  #screen1_img{
    height: auto;
  }

  .sub_header{
    font-size: 20px;
    line-height: 30px;
  }

  .screen_5_header{
    font-size: 40px;
    line-height: 50px;
  }
}

.back_rectangle{
  /* position: absolute; */
  width: 345px;
  height: 245px;
  margin: 30px;

  background: #303030;
  transform: rotate(7.99deg);

  z-index: 1;
}

.services{
  margin: auto;
  position: relative;
  justify-content: center;
  display: flex;
}

.front_rectnagle{
  /* position: absolute; */
  box-sizing: border-box;
  padding: 30px;

  width: 333px;
  height: 250px;

  background: #FFFFFF;
  border: 1px solid #303030;

  transform: rotate(-7.99deg);

  z-index: 3;
}

.service_p {
  color: #000000;
}

.back{
  width: 300px;
  height: 300px;
  background: #FFFFFF;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 170px;
  padding: 30px;
}

.values{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 30px;
}

:host {
  flex: 1;
}

.carousel {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 0.5em;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  transition: transform 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
  border-radius: 0.5em;
}

.slide:hover {
  transform: scale(1.025);
}

.control {
  border: none;
  background-color: transparent;
  outline: 0;
 /* position: absolute;
  */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em;
  color: white;
  font-weight: bold;
  font-size: 3em;
  user-select: none;
  height: 100%;
  opacity: 80%;
  transition: opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
 /* Position the buttons */
}
.control:hover, .control:focus {
  opacity: 1;
}
.control.next {
  right: 0;
}
.control.prev {
  left: 0;
}
/* style the arrows */
.arrow {
  display: block;
  border-left: 0.1em solid white;
  border-bottom: 0.1em solid white;
  width: 0.5em;
  height: 0.5em;
}
.arrow.left {
  transform: rotate(45deg);
}
.arrow.right {
  transform: rotate(225deg);
}

.container {
  display: block;
  height: 100vh;
  width: 100vw;
  max-height: 600px;
  max-width: 750px;
  padding: 2em 2em 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}
.animition-type-selector {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: center;
  justify-content: center;
  color: white;
  padding-top: 1em;
}
.title {
  user-select: none;
}
.button {
  background: #3f51b5;
  cursor: pointer;
  border-radius: 0.3em;
}
.title, .button {
  height: 2.5em;
  min-width: 4.5em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 0.7em;
  transition: background 20ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
}
.title:not(:last-child), .button:not(:last-child) {
  margin-right: 1em;
}
.button:hover, .active {
  background: #2196f3;
}

.screen_9{
  margin: 5%;
}

.screen_9_header{
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-size: 69px;
  line-height: 75px;
  margin-bottom: 30px;

  color: #2264E2;

}

.extra{
  height: 100px;
  width: auto;
}