.navbar{
    height: 100px;
    background-color: white;
    background-size: auto;
}

.nav_options{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.navbar-collapse{
    justify-content: flex-end;   
}

.nav-item{
    padding: 0 10px;
}

.nav-item a{
    padding: 0 10px;
    width: 120px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    /* font-size: 18px;
    line-height: 29px; */
    /* identical to box height */
}

.btn-outline-primary{
    border-color: #2D427B;
    color: #2D427B;
    border-width: 2px;
}

.btn-primary{
    color: white;
    border-width: 2px;
    border-color: #2D427B;
    background: #2D427B;
}

.nav_options{
    padding-right: 10%;
} 

@media (max-width: 900px){
    .nav_options{
        align-items: center;
        background: white;
    }

    .nav-item{
        padding-right: 0%;
        margin: 5px;
    }

    .nav_options{
        transition: all 1s ease-out;
    }

    .nav_options li:nth-child(1){
        transition: all 0.5 ease 0.2s;
    }
    .nav_options li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav_options li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav_options li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav_options li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav_options li:nth-child(6){
        transition: all 0.5s ease 0.9s;
    }
    .nav_options li:nth-child(7){
        transition: all 0.5s ease 1s;
    }    
}












/*

nav{
    height: 12vh;
    width: 100vw;
    background-color: #2D427B;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 10;
    }
    .logo{
    padding:1vh 1vw;
    text-align: center;
    }
    .logo img {
    height: 10vh;
    width: 10vw;}

    .nav-links{
        display: flex;
        list-style: none;
        width: 88vw;
        padding: 0 0.7vw;
        justify-content: space-evenly;
        align-items: center;
        text-transform: uppercase;
        }
        .nav-links li a{
        text-decoration: none;
        margin: 0 0.7vw;
        }
        .nav-links li a:hover {
        color: #61DAFB;
        }
        .nav-links li {
        position: relative;
        }
        .nav-links li a::before {
        content: "";
        display: block;
        height: 3px;
        width: 0%;
        background-color: #61DAFB;
        position: absolute;
        transition: all ease-in-out 250ms;
        margin: 0 0 0 10%;
        }
        .nav-links li a:hover::before{
        width: 80%;
        }
        .login-button{
        background-color: transparent;
        border: 1.5px solid #f2f5f7;
        border-radius: 2em;
        padding: 2vh 2vw;
        margin-left: 2vw;
        font-size: 1rem;
        cursor: pointer;
        }
        .login-button:hover {
        color: #131418;
        background-color: #f2f5f7;
        border:1.5px solid #f2f5f7;
        transition: all ease-in-out 350ms;
        }
        .join-button{
        color: #131418;
        background-color: #61DAFB;
        border: 1.5px solid #61DAFB;
        border-radius: 2em;
        padding: 2vh 2vw;
        font-size: 1rem;
        cursor: pointer;
        }
        .join-button:hover {
        color: #f2f5f7;
        background-color: transparent;
        border:1.5px solid #f2f5f7;
        transition: all ease-in-out 350ms;
        }
        .hamburger div{
        width: 30px;
        height:3px;
        background: #f2f5f7;
        margin: 5px;
        transition: all 0.3s ease;
        }
        .hamburger{
        display: none;
        }


        @media screen and (max-width: 800px){
            nav{
            position: fixed;
            z-index: 3;
            }
            .hamburger{
            display:block;
            position: absolute;
            cursor: pointer;
            right: 5%;
            top: 50%;
            transform: translate(-5%, -50%);
            z-index: 2;
            transition: all 0.7s ease;
            }
            .nav-links{
            position: fixed;
            background: linear-gradient(134.9deg, #7367F0 3.15%, #CE9FFC 95.05%);
            height: 100vh;
            width: 100%;
            flex-direction: column;
            clip-path: circle(50px at 90% -20%);
            -webkit-clip-path: circle(50px at 90% -10%);
            transition: all 1s ease-out;
            pointer-events: none;
            }
            .nav-links.open{
            clip-path: circle(1000px at 90% -10%);
            -webkit-clip-path: circle(1000px at 90% -10%);
            pointer-events: all;
            }
            .landing{
            flex-direction: column;
            }
            .nav-links li{
            opacity: 0;
            }
            .nav-links li:nth-child(1){
            transition: all 0.5s ease 0.2s;
            }
            .nav-links li:nth-child(2){
            transition: all 0.5s ease 0.4s;
            }
            .nav-links li:nth-child(3){
            transition: all 0.5s ease 0.6s;
            }
            .nav-links li:nth-child(4){
            transition: all 0.5s ease 0.7s;
            }
            .nav-links li:nth-child(5){
            transition: all 0.5s ease 0.8s;
            }
            .nav-links li:nth-child(6){
            transition: all 0.5s ease 0.9s;
            margin: 0;
            }
            .nav-links li:nth-child(7){
            transition: all 0.5s ease 1s;
            margin: 0;
            }
            li.fade{
            opacity: 1;
            }
            }
            .toggle .line1{
            transform: rotate(-45deg) translate(-5px,6px);
            }
            .toggle .line2{
            transition: all 0.7s ease;
            width:0;
            }
            .toggle .line3{
            transform: rotate(45deg) translate(-5px,-6px);
            }*/