<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">
        <img
            style="margin-top:15%;margin-left: 20%;"
            src="../../assets/logo.png"
            alt=""
            loading="lazy"
        />
    </a>
    <button class="navbar-toggler" 
            type="button" 
            data-toggle="collapse" 
            data-target="#navbarNav" 
            aria-controls="navbarNav"  
            (click)="isCollapsed = !isCollapsed" 
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" [ngClass]="{'show': isCollapsed}">
    <ul class="navbar-nav nav_options" style="padding: 0;">
      <li class="nav-item active">
        <a *ngIf="!isLoggedIn" routerLink="/home" class="btn">Home</a>
        <a *ngIf="isLoggedIn" routerLink="/dashboard" class="btn">Dashboard</a>
      </li>
      <li class="nav-item">
        <a routerLink="/emi" class="btn">Financial Tools</a>
      </li>
      <li class="nav-item">
        <a routerLink="/services" class="btn">Credit Score</a>
      </li>
      <li class="nav-item">
        <a routerLink="/team" class="btn">Our Team</a>
      </li>
      <li class="nav-item">
        <a routerLink="/blog" class="btn">Blog</a>
      </li>
      <li class="nav-item">
        <a routerLink="/contactUs" class="btn">Contact Us</a>
      </li>
      <!-- <li class="nav-item">
        <a routerLink="/affiliate" class="btn">Affiliate</a>
      </li>
      <li class="nav-item">
        <a routerLink="/contactUs" class="btn">Contact Us</a>
      </li> -->
      <!--li class="nav-item">
        <a *ngIf="!isLoggedIn" routerLink="/signup" class="btn btn-primary">Sign In</a>
        <a *ngIf="isLoggedIn" (click)="logout()" class="btn btn-primary">Logout</a>
      </li-->
    </ul>

    
  </div>
</nav>