.navbar{
    height: 100px;
    background-color: white;
    background-size: auto;
}

.nav_options{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.navbar-collapse{
    justify-content: flex-end;   
}

.nav-item{
    padding: 0 10px;
}

.nav-item a{
    padding: 0 10px;
    width: 120px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    /* font-size: 18px;
    line-height: 29px; */
    /* identical to box height */

}

.btn-outline-primary{
    border-color: #2D427B;
    color: #2D427B;
    border-width: 2px;
}

.btn-primary{
    color: white;
    border-width: 2px;
    border-color: #2D427B;
    background: #2D427B;
}

.nav_options{
    padding-right: 10%;
}