
@font-face {
    font-family: 'Jost';
    src: url('../assets/Jost.ttf') ;
  }

@font-face {
    font-family: 'Baloo';
    src: url('../assets/Baloo.ttf') ;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/Inter.ttf');
}

@font-face {
    font-family: 'Amiri';
    src: url('../assets/Amiri.ttf');
}