@font-face {
    font-family: 'Jost';
    src: url(/src/assets/Jost.ttf) ;
  }

@font-face {
    font-family: 'Baloo';
    src: url('/src/assets/Baloo.ttf') ;
}

@font-face {
    font-family: 'Inter';
    src: url(/src/assets/Inter.ttf);
}