
<div class="signup_page">
    <nav class="navbar navbar-light">
        <div class="container nav_bar">
            <a class="navbar-brand" href="#">
            <img
                src="../../assets/logo.png"
                alt=""
                loading="lazy"
            />
            </a>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-7">
            <div class="container">
                <div class="row entry_text">
                    <div class="col-md-12">
                        <h1 class="welcome_title">WELCOME!</h1>
                    </div>
                
                    <div class="col-md-12">
                        <p class="description">
                            <u>SIGN-UP IN CREDMANTRA</u>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5" style="display:flex">
            <div class="container signup_box">
                <div class="row signup_title">
                    <h4 class="title">SIGN UP</h4>
                </div>
                <div class="row phone_details">
                <div role="group">
                    <mat-form-field class="example-full-width">
                        <mat-label>Name</mat-label>
                        <input matInput [(ngModel)]="name" >
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Mobile Number</mat-label>
                        <input type="tel" maxlength="10" matInput placeholder="----------" [(ngModel)]="phone">
                    </mat-form-field>
                </div>
                <br>
                <button *ngIf="!loading" (click)="authenticate()" mat-raised-button color="primary">SEND OTP</button>

                <div *ngIf="loading" class="spinner">
                    <mat-spinner class="spinner" diameter="30"></mat-spinner>
                </div>
                
                <div id="error"></div>
                <br><br><br>
                    <div class="divider"> or </div>
                <br><br><br>
                <div style="display:flex;justify-content:center;align-items:center">
                    <asl-google-signin-button type='standard' size='large' theme="outline" logo_alignment="center" ></asl-google-signin-button>
                </div>
            </div>
        </div>
    </div>
</div>

