.blog_header{
    background: url("../../../assets/blog.png");
    height: 100;
    color: white;
    font-family: 'Amiri';
    font-style: normal;
    padding: 10%;
}

h1{
    font-weight: 700;
    font-size: 103px;
    line-height: 100px;
}

@media screen and (max-width: 768px)
{
    h1{
        font-size: 45px;
        line-height: 50px;
    }

    h3{
        font-size: 20px;
    }

    p{
        font-size: 15px;
    }

    .blog_header{
        text-align: center;
    }
}

h3{
    font-weight: 400;
font-size: 32px;
line-height: 56px;
}

p{
    font-weight: 400;
    font-size: 31px;
    line-height: 33px;
}

.blog{
    display: flex;
    margin: 5%;
    /* padding: 5%; */
    border: 1px solid #18337E;
}

.blog_content{
    padding: 5%;
    font-family: 'Amiri';
    font-style: normal;
    font-weight: 700;
    font-size: 49px;
    line-height: 53px;

}

img{
    width: 100%;
    height: 100%;
    max-height: fit-content;
}

.btn{
    font-family: 'Amiri';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 53px;
    /* identical to box height, or 212% */


    color: #FFFFFF;
    background: #6941BC;
    border-radius: 10px;
    float: right;
}