<app-navbar></app-navbar>
<div class="blog_section">
    <div class="blog_header">
        <h3> HELLO ! WELCOME TO </h3>
        <br>
        <h1> CREDMANTRA BLOG </h1>
        <br>
    </div>
    <div class="blogs">
        <div *ngFor="let blog of blogs" class="row blog">
            <div class="col-md-4 blog_image">
                <img src="{{blog.image}}" alt="">
            </div>
            <div class="col-md-8 blog_content">
                <p> {{blog.description}} </p>
                <a class="btn btn-primary" href="{{blog.link}}"> Read More </a>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>