.homepage-2--button {
    height: 4948px;
    width: 1579px;
    background-color: #ffffff;
  }
  .rectangle-1-3-1 {
    height: 840px;
    width: 1579px;
    background-color: #ffebb3;
  }
  .material--symbols-:arrow--right--alt--rounded {
    height: 24px;
    width: 24px;
    background-color: #ffffff;
  }
  .text-1 {
    text-align: left;
    vertical-align: top;
    font-size: 80px;
    font-family: Inter;
    line-height: 83%;
    color: #ffffff;
  }
  .text-2 {
    text-align: left;
    vertical-align: top;
    font-size: 66px;
    font-family: Inter;
    line-height: 83%;
    color: #ffffff;
  }
  .text-3 {
    text-align: left;
    vertical-align: top;
    font-size: 66px;
    font-family: Inter;
    line-height: 83%;
    color: #ffffff;
  }
  .text-4 {
    text-align: left;
    vertical-align: top;
    font-size: 66px;
    font-family: Inter;
    line-height: 83%;
    color: #171717;
  }
  .text-5 {
    text-align: left;
    vertical-align: top;
    font-size: 20px;
    font-family: Jost;
    line-height: auto;
    color: #ffffff;
  }
  .rectangle-2-2 {
    border-radius: 20px;
    height: 74px;
    width: 235px;
    background-color: #ea72dd;
    border: 0px solid #ffffff;
  }
  .rectangle-2-3 {
    border-radius: 20px;
    height: 74px;
    width: 235px;
    border: 2px solid #ffffff;
  }
  .text-6 {
    text-align: left;
    vertical-align: top;
    font-size: 28px;
    font-family: Baloo;
    line-height: auto;
    color: #ffffff;
  }
  .text-7 {
    text-align: left;
    vertical-align: top;
    font-size: 28px;
    font-family: Baloo;
    line-height: auto;
    color: #ffffff;
  }
  .saly---1-0 {
    height: 635px;
    width: 701px;
    background-color: #ffffff;
  }
  .img-8 {
    height: 635px;
    width: 701px;
  }
  .material--symbols-:arrow--drop--down--circle--outline--rounded {
    height: 21px;
    width: 24px;
    background-color: #ffffff;
  }
  .group-3-2 {
    height: 373px;
    width: 1486px;
  }
  .text-9 {
    text-align: left;
    vertical-align: top;
    font-size: 60px;
    font-family: Jost;
    line-height: 83%;
    color: #000000;
  }
  .text-1-0 {
    transform: rotate(-1deg);
    text-align: left;
    vertical-align: top;
    font-size: 75px;
    font-family: Jost;
    line-height: 83%;
    color: #ea72dd;
  }
  .text-1-1 {
    text-align: left;
    vertical-align: top;
    font-size: 60px;
    font-family: Jost;
    line-height: 83%;
    color: #000000;
  }
  .rectangle-2-4 {
    border-radius: 48px;
    height: 349px;
    width: 300px;
    background-color: #fefefe;
    border: 2px solid #6941bc;
  }
  .rectangle-2-6 {
    border-radius: 48px;
    height: 373px;
    width: 300px;
    background-color: #ffffff;
    border: 2px solid #6841bc;
  }
  .rectangle-2-5 {
    border-radius: 48px;
    height: 363px;
    width: 300px;
    background-color: #ffffff;
    border: 2px solid #6941bc;
  }
  .saly---2-6 {
    height: 175px;
    width: 142px;
    background-color: #ffffff;
  }
  .img-1-2 {
    height: 175px;
    width: 142px;
  }
  .text-1-3 {
    text-align: left;
    vertical-align: top;
    font-size: 31px;
    font-family: Jost;
    line-height: 83%;
    color: #000000;
  }
  .saly---2-4 {
    height: 187px;
    width: 185px;
    background-color: #ffffff;
  }
  .img-1-4 {
    height: 187px;
    width: 185px;
  }
  .text-1-5 {
    text-align: left;
    vertical-align: top;
    font-size: 31px;
    font-family: Jost;
    line-height: 83%;
    color: #000000;
  }
  .saly---3-1 {
    height: 194px;
    width: 195px;
    background-color: #ffffff;
  }
  .img-1-6 {
    height: 194px;
    width: 195px;
  }
  .text-1-7 {
    text-align: left;
    vertical-align: top;
    font-size: 31px;
    font-family: Baloo;
    line-height: 83%;
    color: #000000;
  }
  .text-1-8 {
    text-align: left;
    vertical-align: top;
    font-size: 31px;
    font-family: Jost;
    line-height: 83%;
    color: #000000;
  }
  .text-1-9 {
    text-align: left;
    vertical-align: top;
    font-size: 31px;
    font-family: Jost;
    line-height: 83%;
    color: #000000;
  }
  .text-2-0 {
    text-align: left;
    vertical-align: top;
    font-size: 31px;
    font-family: Jost;
    line-height: 83%;
    color: #000000;
  }
  .group-3-3 {
    height: 682px;
    width: 1350px;
  }
  .saly---1 {
    height: 632px;
    width: 658px;
    background-color: #ffffff;
  }
  .img-2-1 {
    height: 632px;
    width: 658px;
  }
  .rectangle-2-7 {
    border-radius: 58px;
    height: 611px;
    width: 572px;
    background-color: ;
    border: 0px solid #6841bc;
  }
  .group-1-0 {
    height: 123px;
    width: 359px;
  }
  .rectangle-2-8 {
    border-radius: 45px;
    height: 92px;
    width: 359px;
    background-color: rgba(217, 217, 217, 0.20000000298023224);
  }
  .text-2-2 {
    text-align: left;
    vertical-align: top;
    font-size: 40px;
    font-family: Jost;
    line-height: 83%;
    color: #000000;
  }
  .text-2-3 {
    text-align: left;
    vertical-align: top;
    font-size: 25px;
    font-family: Roboto;
    line-height: 83%;
    color: #000000;
  }
  .text-2-4 {
    text-align: left;
    vertical-align: top;
    font-size: 25px;
    font-family: Roboto;
    line-height: 83%;
    color: #000000;
  }
  .line-6 {
    height: 0px;
    width: 329px;
    border: 2px solid #000000;
  }
  .line-7 {
    height: 0px;
    width: 329px;
    border: 2px solid #000000;
  }
  .rectangle-2-9 {
    border-radius: 20px;
    height: 98px;
    width: 415px;
    background-color: #f8667c;
  }
  .text-2-5 {
    text-align: left;
    vertical-align: top;
    font-size: 25px;
    font-family: Jost;
    line-height: 83%;
    color: #ffffff;
  }
  .img-2-6 {
    height: 128px;
    width: 308px;
  }
  .rectangle-8 {
    border-radius: 10px;
    height: 47px;
    width: 171px;
    background-color: #6941bc;
    border: 4px solid #6941bc;
  }
  .text-2-7 {
    text-align: left;
    vertical-align: top;
    font-size: 24px;
    font-family: Inter;
    line-height: auto;
    color: #ffffff;
  }
  .group-3-1 {
    height: 47px;
    width: 600px;
  }
  .rectangle-1-2-2 {
    border-radius: 10px;
    height: 47px;
    width: 180px;
    border: 3px solid #ffffff;
  }
  .rectangle-1-2-3 {
    border-radius: 10px;
    height: 47px;
    width: 180px;
    border: 3px solid #ffffff;
  }
  .rectangle-1-2-4 {
    border-radius: 10px;
    height: 47px;
    width: 180px;
    border: 3px solid #ffffff;
  }
  .text-2-8 {
    text-align: left;
    vertical-align: top;
    font-size: 24px;
    font-family: Inter;
    line-height: auto;
    color: #ffffff;
  }
  .text-2-9 {
    text-align: left;
    vertical-align: top;
    font-size: 24px;
    font-family: Inter;
    line-height: auto;
    color: #ffffff;
  }
  .text-3-0 {
    text-align: left;
    vertical-align: top;
    font-size: 24px;
    font-family: Inter;
    line-height: auto;
    color: #ffffff;
  }
  .rectangle-1-2-5 {
    border-radius: 83px;
    height: 140px;
    width: 140px;
    background-color: #796bf1;
    border: 20px solid #ffffff;
  }
  .group-3-4 {
    height: 131px;
    width: 130px;
  }
  .rectangle-1-2-6 {
    border-radius: 30px;
    height: 37px;
    width: 36px;
    background-color: rgba(195, 152, 251, 0.6000000238418579);
  }
  .rectangle-1-2-7 {
    border-radius: 30px;
    height: 37px;
    width: 36px;
    background-color: rgba(195, 152, 251, 0.6000000238418579);
  }
  .rectangle-1-2-8 {
    border-radius: 30px;
    height: 37px;
    width: 36px;
    background-color: rgba(195, 152, 251, 0.6000000238418579);
  }
  .rectangle-1-2-9 {
    border-radius: 30px;
    height: 37px;
    width: 36px;
    background-color: rgba(195, 152, 251, 0.6000000238418579);
  }
  .rectangle-1-3-0 {
    border-radius: 30px;
    height: 37px;
    width: 36px;
    background-color: rgba(195, 152, 251, 0.6000000238418579);
  }
  .group-3-5 {
    transform: rotate(179deg);
    height: 131px;
    width: 130px;
  }
  .rectangle-1-2-6 {
    transform: rotate(179deg);
    border-radius: 30px;
    height: 37px;
    width: 36px;
    background-color: rgba(195, 152, 251, 0.6000000238418579);
  }
  .rectangle-1-2-7 {
    transform: rotate(179deg);
    border-radius: 30px;
    height: 37px;
    width: 36px;
    background-color: rgba(195, 152, 251, 0.6000000238418579);
  }
  .rectangle-1-2-8 {
    transform: rotate(179deg);
    border-radius: 30px;
    height: 37px;
    width: 36px;
    background-color: rgba(195, 152, 251, 0.6000000238418579);
  }
  .rectangle-1-2-9 {
    transform: rotate(179deg);
    border-radius: 30px;
    height: 37px;
    width: 36px;
    background-color: rgba(195, 152, 251, 0.6000000238418579);
  }
  .rectangle-1-3-0 {
    transform: rotate(179deg);
    border-radius: 30px;
    height: 37px;
    width: 36px;
    background-color: rgba(195, 152, 251, 0.6000000238418579);
  }
  .group-3-6 {
    height: 690px;
    width: 1478px;
  }
  .img-3-1 {
    height: 690px;
    width: 834px;
  }
  .rectangle-1-3-2 {
    height: 137px;
    width: 623px;
    background-color: #223a7b;
  }
  .rectangle-1-3-4 {
    height: 137px;
    width: 623px;
    background-color: #223a7b;
  }
  .text-3-2 {
    text-align: left;
    vertical-align: top;
    font-size: 39px;
    font-family: Jost;
    line-height: 45%;
    color: #ffffff;
  }
  .rectangle-1-3-3 {
    height: 137px;
    width: 623px;
    background-color: #1a84fd;
  }
  .text-3-3 {
    text-align: left;
    vertical-align: top;
    font-size: 39px;
    font-family: Jost;
    line-height: 45%;
    color: #ffffff;
  }
  .text-3-4 {
    text-align: left;
    vertical-align: top;
    font-size: 39px;
    font-family: Jost;
    line-height: 45%;
    color: #ffffff;
  }
  .text-3-5 {
    text-align: left;
    vertical-align: top;
    font-size: 92px;
    font-family: Jost;
    line-height: 45%;
    color: #3e669c;
  }
  .rectangle-1-3-5 {
    height: 607px;
    width: 1579px;
    background-color: #a19bd2;
  }
  .text-3-6 {
    text-align: left;
    vertical-align: top;
    font-size: 72px;
    font-family: Jost;
    line-height: 83%;
    color: #ffffff;
  }
  .rectangle-1-3-6 {
    border-radius: 20px;
    height: 120px;
    width: 388px;
    background-color: #ffffff;
  }
  .rectangle-1-3-9 {
    border-radius: 20px;
    height: 120px;
    width: 388px;
    background-color: #ffffff;
  }
  .rectangle-1-4-0 {
    border-radius: 20px;
    height: 120px;
    width: 388px;
    background-color: #ffffff;
  }
  .rectangle-1-4-1 {
    border-radius: 20px;
    height: 120px;
    width: 466px;
    background-color: #ffffff;
  }
  .rectangle-1-3-7 {
    border-radius: 20px;
    height: 120px;
    width: 388px;
    background-color: #ffffff;
  }
  .rectangle-1-3-8 {
    border-radius: 20px;
    height: 120px;
    width: 466px;
    background-color: #ffffff;
  }
  .i-c-i-c-i-_-bank-_-logo-1 {
    height: 87px;
    width: 353px;
    background-color: #ffffff;
  }
  .layer-1 {
    height: 85px;
    width: 351px;
  }
  .img-3-7 {
    height: 85px;
    width: 351px;
  }
  .img-3-8 {
    height: 85px;
    width: 229px;
  }
  .indus-ind-_-bank-_-s-v-g-_-logo-1 {
    height: 46px;
    width: 425px;
    background-color: #ffffff;
  }
  .g-1-8 {
    height: 44px;
    width: 423px;
  }
  .img-3-9 {
    height: 30px;
    width: 37px;
  }
  .img-4-0 {
    height: 44px;
    width: 41px;
  }
  .img-4-1 {
    height: 30px;
    width: 29px;
  }
  .img-4-2 {
    height: 30px;
    width: 37px;
  }
  .img-4-3 {
    height: 44px;
    width: 41px;
  }
  .img-4-4 {
    height: 43px;
    width: 20px;
  }
  .img-4-5 {
    height: 30px;
    width: 37px;
  }
  .img-4-6 {
    height: 43px;
    width: 20px;
  }
  .img-4-7 {
    height: 30px;
    width: 37px;
  }
  .img-4-8 {
    height: 43px;
    width: 37px;
  }
  .img-4-9 {
    height: 31px;
    width: 33px;
  }
  .img-5-0 {
    height: 39px;
    width: 39px;
  }
  .img-5-1 {
    height: 83px;
    width: 239px;
  }
  .yes-_-bank-_-s-v-g-_-logo-1 {
    height: 112px;
    width: 300px;
    background-color: #ffffff;
  }
  .g-2-9-9-8 {
    height: 107px;
    width: 297px;
  }
  .img-5-2 {
    height: 33px;
    width: 264px;
  }
  .img-5-3 {
    height: 107px;
    width: 78px;
  }
  .img-5-4 {
    height: 63px;
    width: 297px;
  }
  .punjab-_-national-_-bank-1 {
    height: 78px;
    width: 383px;
    background-color: #ffffff;
  }
  .img-5-5 {
    height: 78px;
    width: 383px;
  }
  .rectangle-4-0 {
    height: 589px;
    width: 1579px;
    background-color: #010851;
  }
  .img-5-6 {
    height: 149px;
    width: 356px;
  }
  .text-5-7 {
    text-align: left;
    vertical-align: top;
    font-size: 35px;
    font-family: Jost;
    line-height: auto;
    color: #ffffff;
  }
  .line-1-0 {
    height: 0px;
    width: 329px;
    border: 2px solid #ffffff;
  }
  .line-1-1 {
    height: 0px;
    width: 329px;
    border: 2px solid #ffffff;
  }
  .text-5-8 {
    text-align: left;
    vertical-align: top;
    font-size: 35px;
    font-family: Jost;
    line-height: auto;
    color: #ffffff;
  }
  .rectangle-1-4-3 {
    height: 107px;
    width: 376px;
    background-color: #ffffff;
  }
  .text-5-9 {
    text-align: left;
    vertical-align: top;
    font-size: 40px;
    font-family: Jost;
    line-height: auto;
    color: #000000;
  }
  .text-6-0 {
    text-align: left;
    vertical-align: top;
    font-size: 41px;
    font-family: Jost;
    line-height: auto;
    color: #ffffff;
  }
  .text-6-1 {
    text-align: left;
    vertical-align: top;
    font-size: 25px;
    font-family: Jost;
    line-height: auto;
    color: #ffffff;
  }
  .text-6-2 {
    text-align: left;
    vertical-align: top;
    font-size: 25px;
    font-family: Jost;
    line-height: auto;
    color: #ffffff;
  }
  .text-6-3 {
    text-align: left;
    vertical-align: top;
    font-size: 25px;
    font-family: Jost;
    line-height: auto;
    color: #ffffff;
  }
  .text-6-4 {
    text-align: left;
    vertical-align: top;
    font-size: 21px;
    font-family: Jost;
    line-height: auto;
    color: #ffffff;
  }
  .text-6-5 {
    text-align: left;
    vertical-align: top;
    font-size: 21px;
    font-family: Jost;
    line-height: auto;
    color: #ffffff;
  }
  