<div>
<button className="homepage-2--button">
    <img src="" />
    <p className="text-1">Avail Instant loan</p>
    <p className="text-2">Ranges from 10k to 15L</p>
    <p className="text-3">with</p>
    <p className="text-4">CRED MANTRA</p>
    <p className="text-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>

    <p className="text-6">Explore</p>
    <p className="text-7">Get Started</p>
    <div className="saly---1-0">
    <img src="" />
    </div>
    <div className="group-3-2">
    <p className="text-9">THREE QUICK</p>
    <p className="text-1-0">STEPS</p>
    <p className="text-1-1">TO GET LOANS</p>
    <div className="saly---2-6">
        <img src="" />
    </div>
    <p className="text-1-3">EASY APPLY</p>
    <div className="saly---2-4">
        <img src="" />
    </div>
    <p className="text-1-5">SIMPLE </p>
    <div className="saly---3-1">
        <img src="" />
        <p className="text-1-7"></p>
    </div>
    <p className="text-1-8">ANSWER</p>
    <p className="text-1-9">GET A QUICK </p>
    <p className="text-2-0">APPLICATION</p>
    </div>
    <div className="group-3-3">
    <div className="saly---1">
        <img src="" />
    </div>

    <div className="group-1-0">
        <p className="text-2-2">Get a Call</p>
    </div>
    <p className="text-2-3">Enter Name</p>
    <p className="text-2-4">Enter mobile number</p>

    <p className="text-2-5">Welcome to CRED MANTRA</p>
    </div>
    <img src="" />

    <p className="text-2-7">Sign In</p>
    <div className="group-3-1">
    <p className="text-2-8">Contact Us</p>
    <p className="text-2-9">Our Team</p>
    <p className="text-3-0">Blog</p>
    </div>
    <img src="" />
    <div className="group-3-4">

    </div>
    <div className="group-3-5">
    </div>
    <div className="group-3-6">
    <img src="" />

    <p className="text-3-2">We follow minimum documentation process for granting loans</p>
    <p className="text-3-3">You can choose the loan amount of your choice ranging from 15k to 15L</p>
    <p className="text-3-4">Get your loan approved  within 48 hours </p>
    </div>
    <p className="text-3-5">OUR SERVICES</p>
    <p className="text-3-6">OUR PARTERS</p>

    <div className="i-c-i-c-i-_-bank-_-logo-1">
    <div className="layer-1">
        <img src="" />
    </div>
    </div>
    <img src="" />
    <div className="indus-ind-_-bank-_-s-v-g-_-logo-1">
    <div className="g-1-8">
        <img src="" />
        <img src="" />
        <img src="" />
        <img src="" />
        <img src="" />
        <img src="" />
        <img src="" />
        <img src="" />
        <img src="" />
        <img src="" />
        <img src="" />
        <img src="" />
    </div>
    </div>
    <img src="" />
    <div className="yes-_-bank-_-s-v-g-_-logo-1">
    <div className="g-2-9-9-8">
        <img src="" />
        <img src="" />
        <img src="" />
    </div>
    </div>
    <div className="punjab-_-national-_-bank-1">
    <img src="" />
    </div>
    <img src="" />
    <p className="text-5-7">Email</p>
    <p className="text-5-8">Type your Feedback</p>
    <p className="text-5-9">SUBMIT</p>
    <p className="text-6-0">Contact Us</p>
    <img src="" />
    <p className="text-6-1">9873553646</p>
    <p className="text-6-2">(+91)</p>
    <p className="text-6-3">xyz,lorem epsum diodre</p>
    <p className="text-6-4">lorem epsum diodre</p>
    <p className="text-6-5">India, 347634</p>
</button>
</div>