.categories{
    background: #303030;;
    height: 100;
    padding: 5%;
}

.categories h1{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 91px;

    color: white;
    /* border-style: solid; */
}

input{
    height: 65px;
}

.form-control{
    margin: 5%;
}

@media screen and (max-width: 768px) {
    .categories h1{
        font-size: 40px;
        line-height: 60px;
        text-align: center;
    }
}

.cibil{
    background: black;
    color: #FFFFFF;
    height: 100vh;
    padding: 10%;
    padding-top: 5%;
    text-align: center;
}

.micro{
    padding: 5%;
    /* chnage mouse on hover */
    cursor: pointer;
}

.micro h2{
    color: #72CC87;
}

.micro h3{
    color: #72CC87;
}

.plater{
    padding: 5%;
    /* chnage mouse on hover */
    cursor: pointer;
}

.plater h2{
    color: #64C7C7;
}

.ccard{
    padding: 5%;
    /* chnage mouse on hover */
    cursor: pointer;
}

.ccard h2{
    color: #F6416C;
}

.ploan{
    padding: 5%;
    /* chnage mouse on hover */
    cursor: pointer;
}

.ploan h2{
    color: #6941BC;
}

.box{
    background : #FFFFFF;
    border-radius: 10px;
    padding: 2%;
    margin: 10px;
}

.center{
    text-align: center;
}

button{
    background: #EE5253;
    color: #FFFFFF;
}

.col-md-5{
    flex-shrink: unset;
}