<app-navbar></app-navbar>
<div class="row">
    <div class="col-md-7 categories">
        <h1> LOANS CATEGORY </h1>
        <div class="row">
            <div class="col-md-5 box micro" ><!--(click)="redirectTomicroLoan()"-->
                <div style="display:flex;justify-content:space-between;">
                    <div>
                        <h2 style="margin-bottom:auto;"> Micro Loan </h2>
                        <h3> (under 50k) </h3>
                    </div>
                    <div>
                        <img src="../../../assets/category_ml.png" alt="plater" class="img-fluid">
                    </div>
                </div>
                <p> Instant small ticket loans to meet your immediate cash need </p>
            </div>
            <div class="col-md-5 box plater" ><!--(click)="redirectToPayLater()"-->
                <div style="display:flex;justify-content:space-between;">
                    <div>
                        <h2 style="margin-bottom:auto;"> Pay Later </h2>
                    </div>
                    <div>
                        <img src="../../../assets/category_plater.png" alt="plater" class="img-fluid">
                    </div>
                </div>
                <p> Buy now pay later is financing option that provides eligible shoppers with an instant credit limit  </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 box ploan" (click)="redirectToPersonalLoan()">
                <div style="display:flex;justify-content:space-between;">
                    <div>
                        <h2 style="margin-bottom:auto;"> Personal Loan </h2>
                    </div>
                    <div>
                        <img src="../../../assets/category_ploan.png" alt="plater" class="img-fluid">
                    </div>
                </div>
                <p> Select the best offer curated just for you from a wide choice of RBI verified banks.  </p>
            </div>
            <div class="col-md-5 box ccard" (click)="redirectToCreditCard()">
                <div style="display:flex;justify-content:space-between;">
                    <div>
                        <h2 style="margin-bottom:auto;"> Credit Card </h2>
                    </div>
                    <div>
                        <img src="../../../assets/category_cc.png" alt="plater" class="img-fluid">
                    </div>
                </div>
                <p> From 20+ options,choose a card matching your lifestyle and needs </p>
           </div>
        </div>
    </div>
    <div class="col-md-5 cibil">
        <h1> Check your Cibil score in just 2 minutes </h1>
        <h3> view your personalized credit Health report and loan offers in few steps. </h3>
        
        <div class="center">
            <img src="../../../assets/cibil.png" alt="cibil" class="img-fluid">

            <form>
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter your PAN Number">
                </div>
            </form>
            <br>
            <button type="button" class="btn btn-primary">Check Cibil Score</button>   
        </div>  
    </div>
</div>