<app-navbar></app-navbar>
<div class="team">
    <div class="intro">
        <h1> ABOUT US </h1>
        <p>
            CredMantra is a financial technology start-up based in gurgaon. We aim to make financial products affordable and easily short term Loans accessible to the person when needs financial assistance at the most. Our team is equipped with experienced and qualified finance professionals associated.Using data and technology innovations, we help you choose the most-suited financial products. along with a lot of hard work, we intend to make complex decisions simple for you.As a company, we prioritize helping others before expanding our bottom line. Worry not, our dear ones, because we will be at your side the entire way.we are Aggregators.
        </p>
    </div>
    <div class="images" style="display:flex">
        <img src="../../../assets/team_1.png" alt="team1" class="team1">
        <img src="../../../assets/team_2.png" alt="team2" class="team2" id="img2">
    </div>
    <div class="core_team">
        <h2> OUR CORE TEAM </h2>
        <div class="row" style="text-align:center;">
            <div class="col-md-4 core_team_members" *ngFor="let member of team">
                <img src="{{member.imageLink}}" alt="team1" class="team1 team_image">
                <div class="member_details">
                    <h4> {{member.name}} </h4>
                    <p> {{member.role}} </p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
            