<app-navbar></app-navbar>
<div class="team">
    <div class="intro">
        <h1> ABOUT US </h1>
        <p>             We are a company of experienced professionals who work their way through ordeals and strive to produce the finest results. Ever since covid hit the world, the financial crisis has been casting a slur on people, especially the impoverished. People have fallen short of money and since they cannot rely on their hard-earned meager incomes, they look for other sources. In such instances, people usually prefer to borrow money. But the problem with that is the increasing fraudulent activities or fraud companies who lure them into the vicious cycle of debt. This is where we step in. 

We're a company that looks out for consumers against fraud, facilitates easy loan approvals, and acts as a guide for those who know little to nothing about loans, for eg. the procedures involved in obtaining one, or even where to look for applying for the same. 
The major areas of focus of our company are Microloans, personal loans, pay letters, and credit cards. 

Now, how do we execute or aim to achieve the stated claims? We bring you the financial services companies like paisa bazaar, mymoneymantra, and banks like HDFC who follow the guidelines rendered by the RBI, the reserved bank of India under one roof on the same platform “CreditMantra.” This helps you not look for these services on different platforms since we guide you through it all.  

As a company, we prioritize helping others before expanding our bottom line. Worry not, our dear ones, because we will be at your side the entire way. </p>
    </div>
    <div class="images" style="display:flex">
        <img src="../../../assets/team_1.png" alt="team1" class="team1">
        <img src="../../../assets/team_2.png" alt="team2" class="team2" id="img2">
    </div>
    <div class="core_team">
        <h2> OUR CORE TEAM </h2>
        <div class="row" style="text-align:center;">
            <div class="col-md-3 core_team_members" *ngFor="let member of team">
                <img src="{{member.image}}" alt="team1" class="team1">
                <div class="member_details">
                    <h4> {{member.name}} </h4>
                    <p> {{member.position}} </p>
                    <p> {{member.description}} </p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
            